@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');

html {
	font-family: IBM Plex Mono;
}

body {
	background-color: #131313;
	color: white;
}

.flex-container {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem;
}

.caja {
	border: 1px solid #ccc;
	font-weight: bold;
	height: 80vh;
	text-align: center;
	margin-top: 2rem;
	min-height: 10%;
}

.caja-1 {
	width: 12.5rem;
}

.caja-2 {
	width: 38rem;
}

.caja-3 {

	width: 43.75rem;
	display: flex;
	align-items: center;
}

.row {
	height: 33%;
	min-height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.row-3 {
	display: block;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.row-3 p {
	text-align: left;
	display: inline;
	background-color: red;
}

.form {
	justify-content: center;
	align-items: center;
	min-height: 10%;
	padding-top: 12vh;
	padding-bottom: 3vh;
}


.main-input {
	width: 80%;
	min-height: 10%;
	height: 30%;
}

.row-1 img {
	max-height: 50%;
}

p#show {
	overflow: hidden;
	overflow-y: auto;
	text-align: left;
	height: 75vh;
	width: auto;
	padding-right: 20px;
	line-height: 1.8;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 20px;
	display: flex-start;
	align-items: flex-end;
}
